<h1 class="m-t-0">Add expense</h1>

<form [formGroup]="form"
      (ngSubmit)="submit()"
      novalidate>

  <mat-form-field>
    <input matInput
           label="Comment"
           placeholder="Comment"
           formControlName="comment"
           name="comment"
           [errorStateMatcher]="matcher">
    <mat-error *ngIf="form.controls['comment'].hasError('required')">
      Field is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput
           label="Amount"
           formControlName="amount"
           placeholder="Amount, $"
           name="amount"
           type="number">
    <mat-error *ngIf="form.controls['amount'].hasError('required')">
      Field is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Category" formControlName="category">
      <mat-option *ngFor="let category of categories" [value]="category?.id">
        {{category?.title}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="form.controls['category'].hasError('required')">
      Field is <strong>required</strong>
    </mat-error>
  </mat-form-field>


  <button mat-fab
          color="accent"
          class="secondary-fab-button"
          routerLink="/expenses">
    <mat-icon>close</mat-icon>
  </button>

  <button mat-fab
          color="primary"
          class="main-fab-button"
          type="submit">
    <mat-icon>add</mat-icon>
  </button>
</form>
